# AWS
export AWS_REGION=us-east-1
export AWS_DEFAULT_REGION=us-east-1

# OIDC (Digital Science ID)
export OIDC_PROVIDER_URL=https://id-staging.digital-science.us
export OIDC_CLIENT_ID=ca230e130e27c8b2d1facc87d664f7e8
export VITE_OIDC_PROVIDER_URL=https://id-staging.digital-science.us
export VITE_OIDC_CLIENT_ID=ca230e130e27c8b2d1facc87d664f7e8

# Storage
export S3_BUCKET=forge-dev-bucket

# Dev
export DEV_MODE=true

# Local secrets (not committed)
source_env_if_exists .envrc.local
